#r1 {
    margin-left: 15%;
    margin-top: 4%;

}

#a1 {
    padding-top: 1%;
    padding-left: 15%;
    font-weight: bold;
    color: black;
    font-size: 18px;
}

#a2 {
    padding-left: 15%;
    padding-top: -2%;
}

#a3 {
    margin-left: 50%;
}

#a4 {
    margin-left: 50%;
}

#a5 {
    width: 2%;
    margin-left: -41%;
}

#a6 {
    padding-left: 15%;
}

#a7 {
    width: 2%;
    margin-top: -9%;
    margin-left: 21%;
}

#a8 {
    padding-left: 21%;
    margin-top: -4.3%;
}

.a9 {
    position: absolute;
    left: 34%;
    margin-left: 10%;
    width: 100%;
}

#a10 {
    margin-left: 50%;
}

#a11 {
    margin-left: -15%;
}

#a12 {
    padding-top: -2%;
    padding-left: 15%;
}

#a13 {
    margin-left: 120%;
    margin-top: 2%;
}

#a14 {
    margin-left: 20%;
    margin-top: 2%;
}

#a15 {
    position: absolute;
    width: 14%;
    height: 14%;
    margin-left: 65%;
    top: 21%;
}

#a16 {
    position: absolute;
    top: 21%;
    margin-left: 80%;

}

#a17 {
    position: absolute;
    width: 14%;
    height: 14%;
    margin-left: 65%;
    top: 38%;
}

#a18 {
    position: absolute;
    top: 38%;
    margin-left: 80%;

}

#a19 {
    position: absolute;
    width: 14%;
    height: 14%;
    margin-left: 65%;
    top: 54.5%;
}

#a20 {
    position: absolute;
    top: 54.5%;
    margin-left: 80%;

}